<div class="about-welcome text-center">
	<h1>About</h1>
</div>
<div class="about-content">
	<p>Howdy! Welcome to Catalyst Development Group where we development a variety of software solutions including web development and business analytic packages. Based out of College Station, Texas we provide the small shop feel to your business solution.</p>
	<p>We put a tremendous amount of pride and effort into every client's needs from start to finish. Our work is efficient and most important economical.</p>
</div>