<div class="about-welcome text-center">
	<h1>About Your Developer</h1>
</div>
<div class="about-content">
	<p><span>Joshua Roberson</span></p>
	<p>Howdy! Chances are that I have seen it all. Or at least that's what it feels like to me sometimes. I have worked in business analytics for over five years and have had the pleasure to work credit analysis in the banking industry, project feasibility in the real estate industry, and economic analysis on various levels.</p>
	<p></p>
</div>