<div class="portfolio-title">
	<h1>Coming soon</h1>
</div>
<div class="portfolio-gallery">
	<div class="row">
		<div class="col-md-4 image-box">box 1
		</div>
		<div class="col-md-4 image-box">box 2
		</div>
		<div class="col-md-4 image-box">box 3
		</div>
	</div>
</div>
