
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500);

/* HTML */
html body {
	background-color: #FFF;
}

p {
	font-size: 1.25em;
}

/* NAVIGATION BAR */
.navbar {
	margin-bottom: 0px;
}

.navbar-header {
	padding-left: 40px;
}

.navbar-inverse {
	background-color: #262827;
}

.navbar-right {
	margin-right: 60px;
}

.navbar-brand {
	font-size: 25px;
	line-height: 35px;
	height: 70px;
}

.navbar-nav > li > a {
	line-height: 35px;
	height: 70px;
	font-size: 17px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FBFFFE;
}

.navbar-inverse .navbar-brand {
	color: #FBFFFE;	
}

/* BODY */
article {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	/* background: image-url('cool-background.jpg') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	*/
}