
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500);

/* NAVIGATION BAR */
.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: rgba(27,22,14,.9);
}

.navbar-brand {
	font-family: cabin;
	font-size: 25px;
	line-height: 35px;
	height: 70px;
}

.navbar-nav > li > a {
	line-height: 35px;
	height: 70px;
	font-size: 17px;
	font-family: cabin;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FBFFFE;
}

.navbar-inverse .navbar-brand {
	color: #FBFFFE;	
}

/* JUMBOTRON */
.jumbotron {
	background-color: #B4AEA1;
	margin-top: 20px;

}

/* BODY */
article {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background: url('cool-background.jpg') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}