.portfolio-title {
	margin-bottom: 20px;
}

.portfolio-gallery {
	display: block;
}

.image-box {
	width: 33%;
	padding: 25px 0px 15px 0px;


}

.image-cell {
	padding-bottom: 10px;
	color: black;
	text-align: center;
}

.image-title {
	text-align: center;
	color: black;

}

.hide {
	display: none;
}